body {
  background-color: green;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 350px;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necesario para posicionar elementos dentro */
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#button {
  position: absolute;
  top: 50%; 
  right: 250px; 
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.newCardSuites {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 62px;
  font-weight: bold;
}

.newCardSuites2 {
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 75px;
  font-weight: bold;
  transform: rotate(180deg); /* Hace que gire para simular una carta real */
}

.newCardValues {
  position: absolute;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}
